---
interface Props {
	tag: string;
    tagName: string;
	content: string;
}

const { tag, tagName, content } = Astro.props;

const textContent = `<${tagName}> ${content} </${tagName}>`;

const Element = tag;
---
<Element class="wrapper">
    <p>{`<${tagName}>`}</p>
    <slot/>
    <p>{`<${tagName}>`}</p>
</Element>

<style>
    .wrapper {
        display: flex;
        align-items: center;
    }
    .wrapper p {
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
</style>