---
interface Props {
	tag: string;
	suffix?: string;
}

const { tag, suffix } = Astro.props;
const linkTag = (tag + (suffix ? `-${suffix}` : ""))
	.replace(/ /g, "-")
	.toLowerCase();
---

<div id="outer">
    <a id={linkTag} href=`#${linkTag}`>
        <p class="tag">{`<${tag}>`}</p>
    </a>
    <div id="inner">
        <slot />
    </div>
    <p class="tag">{`</${tag}>`}</p>
</div>

<style>
    .tag {
        font-size: 15px;
        margin: 0;
        font-style: italic;
    }
    #outer {
        margin: 5px;
        padding: 5px
    }
    #inner {
        padding: 15px;
    }
    a {
        text-decoration: none;
    }
</style>
